In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df_matched = pd.read_stata(r'C:\Users\Administrator\Desktop\RA Fei Yue\MSE_matching_Python\sample_matched_NY.dta')
df_unmatched = pd.read_stata(r'C:\Users\Administrator\Desktop\RA Fei Yue\MSE_matching_Python\sample_unmatched_NY.dta')

'''
df_matched = pd.read_stata('test_sample_matched.dta')
df_unmatched = pd.read_stata('sample_unmatched.dta')
'''

"\ndf_matched = pd.read_stata('test_sample_matched.dta')\ndf_unmatched = pd.read_stata('sample_unmatched.dta')\n"

In [10]:
'''
use "MSE_matching_Python\sample_matched.dta",clear
foreach v in  loan_id var1 var2 var3 var4 var5{
ren `v' `v'1m
}

joinby lender_id using "MSE_matching_Python\sample_unmatched.dta", unmatched(none)
ren lender_id lender_id1m

'''

'\nuse "MSE_matching_Python\\sample_matched.dta",clear\nforeach v in  loan_id var1 var2 var3 var4 var5{\nren `v\' `v\'1m\n}\n\njoinby lender_id using "MSE_matching_Python\\sample_unmatched.dta", unmatched(none)\nren lender_id lender_id1m\n\n'

In [3]:
df_matched_column = df_matched.columns
df_matched.columns = df_matched_column + '1m'
df_unmatched.columns = df_unmatched.columns.str.replace('lender_id', 'lender_id1m')

In [7]:
df_matched

      lender_id1m  loan_id1m  var11m      var21m   var31m  var41m  var51m
0           814.0    19445.0     0.0   11.481559   2150.0     0.0     0.0
1           275.0     3498.0     1.0  169.902786  11088.0     0.0     0.0
2          3096.0    60530.0     1.0    7.044008   2823.0     0.0     0.0
3          3813.0    71810.0     0.0    1.056799  28242.0     0.0     0.0
4            60.0      456.0     0.0    3.011763   1764.0     0.0     0.0
...           ...        ...     ...         ...      ...     ...     ...
6000       1085.0    23929.0     0.0  222.663376  38430.0     0.0     0.0
6001       1085.0    23938.0     0.0  222.663376  96075.0     0.0     0.0
6002       1795.0    36141.0     0.0   20.144510   5346.0     0.0     0.0
6003       1795.0    36138.0     0.0   17.873976   5346.0     0.0     0.0
6004        821.0    19525.0     0.0    3.001764   8004.0     0.0     0.0

[6005 rows x 7 columns]

In [11]:
df1 = pd.merge(df_matched, df_unmatched, on = 'lender_id1m', how = 'inner')
df1

,lender_id1m,loan_id1m,var11m,var21m,var31m,var41m,var51m,loan_id,var1,var2,var3,var4,var5
0,275.0,3498.0,1.0,169.902786,11088.0,0.0,0.0,60833.0,0.0,169.902786,12936.0,0.0,0.0
1,275.0,3498.0,1.0,169.902786,11088.0,0.0,0.0,60530.0,0.0,169.902786,5544.0,0.0,0.0
2,275.0,3498.0,1.0,169.902786,11088.0,0.0,0.0,29072.0,0.0,169.902786,9240.0,0.0,0.0
3,275.0,3498.0,1.0,169.902786,11088.0,0.0,0.0,72433.0,0.0,169.902786,68376.0,0.0,0.0
4,275.0,3498.0,1.0,169.902786,11088.0,0.0,0.0,8606.0,0.0,169.902786,18480.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18104519,1197.0,24917.0,0.0,5.382233,8580.0,0.0,0.0,36141.0,0.0,14.875833,7722.0,0.0,0.0
18104520,1197.0,24917.0,0.0,5.382233,8580.0,0.0,0.0,31552.0,0.0,14.875833,1716.0,0.0,0.0
18104521,1197.0,24917.0,0.0,5.382233,8580.0,0.0,0.0,19527.0,0.0,14.875833,7293.0,0.0,0.0
18104522,1197.0,24917.0,0.0,5.382233,8580.0,0.0,0.0,19525.0,0.0,12.512177,2574.0,0.0,0.0
18104523,1197.0,24917.0,0.0,5.382233,8580.0,0.0,0.0,36138.0,0.0,12.512177,7722.0,0.0,0.0

In [12]:
'''
foreach v in  loan_id var1 var2 var3 var4 var5{
ren `v' `v'1um
}
'''
l = df1.columns[:-6].append([df1.columns[-6:] + '1um'])
df1.columns = l
df1

,lender_id1m,loan_id1m,var11m,var21m,var31m,var41m,var51m,loan_id1um,var11um,var21um,var31um,var41um,var51um
0,275.0,3498.0,1.0,169.902786,11088.0,0.0,0.0,60833.0,0.0,169.902786,12936.0,0.0,0.0
1,275.0,3498.0,1.0,169.902786,11088.0,0.0,0.0,60530.0,0.0,169.902786,5544.0,0.0,0.0
2,275.0,3498.0,1.0,169.902786,11088.0,0.0,0.0,29072.0,0.0,169.902786,9240.0,0.0,0.0
3,275.0,3498.0,1.0,169.902786,11088.0,0.0,0.0,72433.0,0.0,169.902786,68376.0,0.0,0.0
4,275.0,3498.0,1.0,169.902786,11088.0,0.0,0.0,8606.0,0.0,169.902786,18480.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18104519,1197.0,24917.0,0.0,5.382233,8580.0,0.0,0.0,36141.0,0.0,14.875833,7722.0,0.0,0.0
18104520,1197.0,24917.0,0.0,5.382233,8580.0,0.0,0.0,31552.0,0.0,14.875833,1716.0,0.0,0.0
18104521,1197.0,24917.0,0.0,5.382233,8580.0,0.0,0.0,19527.0,0.0,14.875833,7293.0,0.0,0.0
18104522,1197.0,24917.0,0.0,5.382233,8580.0,0.0,0.0,19525.0,0.0,12.512177,2574.0,0.0,0.0
18104523,1197.0,24917.0,0.0,5.382233,8580.0,0.0,0.0,36138.0,0.0,12.512177,7722.0,0.0,0.0

In [38]:
df1.columns

Index(['lender_id1m', 'loan_id1m', 'var11m', 'var21m', 'var31m', 'var41m',
       'var51m', 'loan_id1um', 'var11um', 'var21um', 'var31um', 'var41um',
       'var51um'],
      dtype='object')

In [13]:
df_matched.columns = df_matched_column
df_matched

      lender_id  loan_id  var1        var2     var3  var4  var5
0         814.0  19445.0   0.0   11.481559   2150.0   0.0   0.0
1         275.0   3498.0   1.0  169.902786  11088.0   0.0   0.0
2        3096.0  60530.0   1.0    7.044008   2823.0   0.0   0.0
3        3813.0  71810.0   0.0    1.056799  28242.0   0.0   0.0
4          60.0    456.0   0.0    3.011763   1764.0   0.0   0.0
...         ...      ...   ...         ...      ...   ...   ...
6000     1085.0  23929.0   0.0  222.663376  38430.0   0.0   0.0
6001     1085.0  23938.0   0.0  222.663376  96075.0   0.0   0.0
6002     1795.0  36141.0   0.0   20.144510   5346.0   0.0   0.0
6003     1795.0  36138.0   0.0   17.873976   5346.0   0.0   0.0
6004      821.0  19525.0   0.0    3.001764   8004.0   0.0   0.0

[6005 rows x 7 columns]

In [16]:
# Reference https://kb.iu.edu/d/azco
'''
gen lender_id1um=lender_id1m
gen loan_id=loan_id1um
merge m:1 loan_id using "MSE_matching_Python\sample_matched.dta"
keep if _==3
drop _
'''
df2 = pd.merge(df_matched, df1, left_on = 'loan_id', right_on = 'loan_id1um', how = 'inner') 
df2

,lender_id,loan_id,var1,var2,var3,var4,var5,lender_id1m,loan_id1m,var11m,var21m,var31m,var41m,var51m,loan_id1um,var11um,var21um,var31um,var41um,var51um
0,275.0,3498.0,1.0,169.902786,11088.0,0.0,0.0,3096.0,60530.0,1.0,7.044008,2823.0,0.0,0.0,3498.0,0.0,7.044008,5646.0,0.0,0.0
1,275.0,3498.0,1.0,169.902786,11088.0,0.0,0.0,3096.0,60539.0,0.0,8.272112,1882.0,0.0,0.0,3498.0,0.0,7.044008,5646.0,0.0,0.0
2,275.0,3498.0,1.0,169.902786,11088.0,0.0,0.0,3096.0,60521.0,0.0,6.686005,12233.0,0.0,0.0,3498.0,0.0,7.044008,5646.0,0.0,0.0
3,275.0,3498.0,1.0,169.902786,11088.0,0.0,0.0,3096.0,60519.0,0.0,5.920949,64929.0,0.0,0.0,3498.0,0.0,7.044008,5646.0,0.0,0.0
4,275.0,3498.0,1.0,169.902786,11088.0,0.0,0.0,3096.0,60514.0,0.0,6.359324,6587.0,0.0,0.0,3498.0,0.0,7.044008,5646.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767237,821.0,19525.0,0.0,3.001764,8004.0,0.0,0.0,1795.0,36141.0,0.0,20.144510,5346.0,0.0,0.0,19525.0,0.0,17.873976,1782.0,0.0,0.0
17767238,821.0,19525.0,0.0,3.001764,8004.0,0.0,0.0,1795.0,36138.0,0.0,17.873976,5346.0,0.0,0.0,19525.0,0.0,17.873976,1782.0,0.0,0.0
17767239,821.0,19525.0,0.0,3.001764,8004.0,0.0,0.0,839.0,20152.0,0.0,44.309429,10675.0,0.0,0.0,19525.0,0.0,36.653233,9150.0,0.0,0.0
17767240,821.0,19525.0,0.0,3.001764,8004.0,0.0,0.0,1197.0,24914.0,0.0,11.806845,1287.0,0.0,0.0,19525.0,0.0,12.512177,2574.0,0.0,0.0
17767241,821.0,19525.0,0.0,3.001764,8004.0,0.0,0.0,1197.0,24917.0,0.0,5.382233,8580.0,0.0,0.0,19525.0,0.0,12.512177,2574.0,0.0,0.0

In [17]:
'''
foreach v in lender_id loan_id var1 var2 var3 var4 var5{
ren `v' `v'2m
}
'''
ll = (df2.columns[:7]+'2m').append(df2.columns[7:])
df2.columns = ll
df2

,lender_id2m,loan_id2m,var12m,var22m,var32m,var42m,var52m,lender_id1m,loan_id1m,var11m,var21m,var31m,var41m,var51m,loan_id1um,var11um,var21um,var31um,var41um,var51um
0,275.0,3498.0,1.0,169.902786,11088.0,0.0,0.0,3096.0,60530.0,1.0,7.044008,2823.0,0.0,0.0,3498.0,0.0,7.044008,5646.0,0.0,0.0
1,275.0,3498.0,1.0,169.902786,11088.0,0.0,0.0,3096.0,60539.0,0.0,8.272112,1882.0,0.0,0.0,3498.0,0.0,7.044008,5646.0,0.0,0.0
2,275.0,3498.0,1.0,169.902786,11088.0,0.0,0.0,3096.0,60521.0,0.0,6.686005,12233.0,0.0,0.0,3498.0,0.0,7.044008,5646.0,0.0,0.0
3,275.0,3498.0,1.0,169.902786,11088.0,0.0,0.0,3096.0,60519.0,0.0,5.920949,64929.0,0.0,0.0,3498.0,0.0,7.044008,5646.0,0.0,0.0
4,275.0,3498.0,1.0,169.902786,11088.0,0.0,0.0,3096.0,60514.0,0.0,6.359324,6587.0,0.0,0.0,3498.0,0.0,7.044008,5646.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767237,821.0,19525.0,0.0,3.001764,8004.0,0.0,0.0,1795.0,36141.0,0.0,20.144510,5346.0,0.0,0.0,19525.0,0.0,17.873976,1782.0,0.0,0.0
17767238,821.0,19525.0,0.0,3.001764,8004.0,0.0,0.0,1795.0,36138.0,0.0,17.873976,5346.0,0.0,0.0,19525.0,0.0,17.873976,1782.0,0.0,0.0
17767239,821.0,19525.0,0.0,3.001764,8004.0,0.0,0.0,839.0,20152.0,0.0,44.309429,10675.0,0.0,0.0,19525.0,0.0,36.653233,9150.0,0.0,0.0
17767240,821.0,19525.0,0.0,3.001764,8004.0,0.0,0.0,1197.0,24914.0,0.0,11.806845,1287.0,0.0,0.0,19525.0,0.0,12.512177,2574.0,0.0,0.0
17767241,821.0,19525.0,0.0,3.001764,8004.0,0.0,0.0,1197.0,24917.0,0.0,5.382233,8580.0,0.0,0.0,19525.0,0.0,12.512177,2574.0,0.0,0.0

In [20]:
df_unmatched.columns = df_unmatched.columns.str.replace('lender_id1m', 'lender_id')
df_unmatched

        lender_id  loan_id  var1         var2       var3  var4  var5
0           561.0  49259.0   0.0   123.103607  1752320.0   0.0   0.0
1           561.0  97828.0   0.0   123.103607    52096.0   0.0   0.0
2           561.0  73651.0   0.0   123.103607    23680.0   0.0   0.0
3           561.0  72433.0   0.0   123.103607   175232.0   0.0   0.0
4           561.0  19896.0   0.0   123.103607    14208.0   0.0   0.0
...           ...      ...   ...          ...        ...   ...   ...
430180     3278.0  36138.0   0.0   174.711655  1337778.0   0.0   0.0
430181      697.0  19525.0   0.0  1279.236694   772416.0   0.0   0.0
430182      697.0  36138.0   0.0  1279.236694  2317248.0   0.0   0.0
430183     3923.0  36138.0   0.0     0.000000   515700.0   4.5   0.0
430184     3923.0  19525.0   0.0     0.000000   171900.0   1.0   1.0

[430185 rows x 7 columns]

In [21]:
'''
gen lender_id=lender_id2m
gen loan_id=loan_id1m
merge m:1 loan_id lender_id using "MSE_matching_Python\sample_unmatched.dta"
keep if _==3
drop _
foreach v in lender_id loan_id var1 var2 var3 var4 var5{
ren `v' `v'2um
}
'''
df3 = pd.merge(df_unmatched, df2, left_on = ['lender_id','loan_id'], right_on = ['lender_id2m','loan_id1m'], how = 'inner')
df3

,lender_id,loan_id,var1,var2,var3,var4,var5,lender_id2m,loan_id2m,var12m,...,var21m,var31m,var41m,var51m,loan_id1um,var11um,var21um,var31um,var41um,var51um
0,561.0,49259.0,0.0,123.103607,1752320.0,0.0,0.0,561.0,15507.0,1.0,...,474.101501,99051592.0,0.000000,0.0,15507.0,0.0,507.779022,2141656.0,0.0,0.0
1,561.0,49259.0,0.0,123.103607,1752320.0,0.0,0.0,561.0,15418.0,1.0,...,474.101501,99051592.0,0.000000,0.0,15418.0,0.0,505.680359,535414.0,0.0,0.0
2,561.0,49259.0,0.0,123.103607,1752320.0,0.0,0.0,561.0,15426.0,0.0,...,474.101501,99051592.0,0.000000,0.0,15426.0,0.0,406.346375,267707.0,0.0,0.0
3,561.0,73651.0,0.0,123.103607,23680.0,0.0,0.0,561.0,15393.0,0.0,...,0.000000,143250.0,4.413793,1.0,15393.0,0.0,0.000000,114600.0,1.0,1.0
4,561.0,73651.0,0.0,123.103607,23680.0,0.0,0.0,561.0,15439.0,0.0,...,0.000000,143250.0,4.413793,1.0,15439.0,0.0,0.000000,143250.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11222911,3923.0,19525.0,0.0,0.000000,171900.0,1.0,1.0,3923.0,73592.0,0.0,...,3.001764,8004.0,0.000000,0.0,73592.0,0.0,166.898499,6670.0,0.0,0.0
11222912,3923.0,19525.0,0.0,0.000000,171900.0,1.0,1.0,3923.0,74548.0,0.0,...,3.001764,8004.0,0.000000,0.0,74548.0,0.0,166.898499,13340.0,0.0,0.0
11222913,3923.0,19525.0,0.0,0.000000,171900.0,1.0,1.0,3923.0,74873.0,0.0,...,3.001764,8004.0,0.000000,0.0,74873.0,0.0,155.653259,5336.0,0.0,0.0
11222914,3923.0,19525.0,0.0,0.000000,171900.0,1.0,1.0,3923.0,73526.0,0.0,...,3.001764,8004.0,0.000000,0.0,73526.0,0.0,34.094681,2668.0,0.0,0.0
11222915,3923.0,19525.0,0.0,0.000000,171900.0,1.0,1.0,3923.0,74999.0,0.0,...,3.001764,8004.0,0.000000,0.0,74999.0,0.0,27.016819,8004.0,0.0,0.0

In [23]:
'''
foreach v in lender_id loan_id var1 var2 var3 var4 var5{
ren `v' `v'2um
}
'''
lll = (df3.columns[:7]+'2um').append(df3.columns[7:])
df3.columns = lll
df3

,lender_id2um,loan_id2um,var12um,var22um,var32um,var42um,var52um,lender_id2m,loan_id2m,var12m,...,var21m,var31m,var41m,var51m,loan_id1um,var11um,var21um,var31um,var41um,var51um
0,561.0,49259.0,0.0,123.103607,1752320.0,0.0,0.0,561.0,15507.0,1.0,...,474.101501,99051592.0,0.000000,0.0,15507.0,0.0,507.779022,2141656.0,0.0,0.0
1,561.0,49259.0,0.0,123.103607,1752320.0,0.0,0.0,561.0,15418.0,1.0,...,474.101501,99051592.0,0.000000,0.0,15418.0,0.0,505.680359,535414.0,0.0,0.0
2,561.0,49259.0,0.0,123.103607,1752320.0,0.0,0.0,561.0,15426.0,0.0,...,474.101501,99051592.0,0.000000,0.0,15426.0,0.0,406.346375,267707.0,0.0,0.0
3,561.0,73651.0,0.0,123.103607,23680.0,0.0,0.0,561.0,15393.0,0.0,...,0.000000,143250.0,4.413793,1.0,15393.0,0.0,0.000000,114600.0,1.0,1.0
4,561.0,73651.0,0.0,123.103607,23680.0,0.0,0.0,561.0,15439.0,0.0,...,0.000000,143250.0,4.413793,1.0,15439.0,0.0,0.000000,143250.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11222911,3923.0,19525.0,0.0,0.000000,171900.0,1.0,1.0,3923.0,73592.0,0.0,...,3.001764,8004.0,0.000000,0.0,73592.0,0.0,166.898499,6670.0,0.0,0.0
11222912,3923.0,19525.0,0.0,0.000000,171900.0,1.0,1.0,3923.0,74548.0,0.0,...,3.001764,8004.0,0.000000,0.0,74548.0,0.0,166.898499,13340.0,0.0,0.0
11222913,3923.0,19525.0,0.0,0.000000,171900.0,1.0,1.0,3923.0,74873.0,0.0,...,3.001764,8004.0,0.000000,0.0,74873.0,0.0,155.653259,5336.0,0.0,0.0
11222914,3923.0,19525.0,0.0,0.000000,171900.0,1.0,1.0,3923.0,73526.0,0.0,...,3.001764,8004.0,0.000000,0.0,73526.0,0.0,34.094681,2668.0,0.0,0.0
11222915,3923.0,19525.0,0.0,0.000000,171900.0,1.0,1.0,3923.0,74999.0,0.0,...,3.001764,8004.0,0.000000,0.0,74999.0,0.0,27.016819,8004.0,0.0,0.0

In [36]:
'''
forvalues k=1/5{
gen value`k'= var`k'1m+var`k'2m- var`k'1um- var`k'2um
}

keep value1 value2 value3 value4 value5
'''
df_keep = pd.DataFrame()
for i in range(1, 6):
    name = "value" + str(i)
    df_keep[name] = df3["var"+str(i)+"1m"] + df3["var"+str(i)+"2m"] - df3["var"+str(i)+"1um"] - df3["var"+str(i)+"2um"]
df_keep

          value1      value2      value3    value4  value5
0            1.0 -128.862122  95195504.0  0.000000     0.0
1            1.0 -123.937958  96773328.0  0.000000     0.0
2            0.0   94.940582  97036304.0  0.000000     0.0
3            0.0  -97.312332     23914.0  3.413793     0.0
4            0.0  -97.312332         0.0  0.413793     1.0
...          ...         ...         ...       ...     ...
11222911     0.0 -163.896729    -27316.0  2.000000    -1.0
11222912     0.0 -163.896729    109264.0  2.600000    -1.0
11222913     0.0 -152.651489    -54632.0  3.000000     0.0
11222914     0.0  -31.092916   -109264.0  4.000000    -1.0
11222915     0.0  -24.015055         0.0  3.600000    -1.0

[11222916 rows x 5 columns]

In [37]:
df_keep.to_csv(r'C:\Users\Administrator\Desktop\RA Fei Yue\MSE_matching_Python\exchange_pairs_keep.csv')

In [38]:
# Stata do file
'''
use "MSE_matching_Python\sample_matched.dta",clear
foreach v in  loan_id var1 var2 var3 var4 var5{
ren `v' `v'1m
}

joinby lender_id using "MSE_matching_Python\sample_unmatched.dta", unmatched(none)
ren lender_id lender_id1m

foreach v in  loan_id var1 var2 var3 var4 var5{
ren `v' `v'1um
}


gen lender_id1um=lender_id1m
*drop if loan_id1m ==loan_id1um

gen loan_id=loan_id1um
merge m:1 loan_id using "MSE_matching_Python\sample_matched.dta"
keep if _==3
drop _

foreach v in lender_id loan_id var1 var2 var3 var4 var5{
ren `v' `v'2m
}

gen lender_id=lender_id2m
gen loan_id=loan_id1m
merge m:1 loan_id lender_id using "MSE_matching_Python\sample_unmatched.dta"
keep if _==3
drop _
foreach v in lender_id loan_id var1 var2 var3 var4 var5{
ren `v' `v'2um
}

forvalues k=1/5{
gen value`k'= var`k'1m+var`k'2m- var`k'1um- var`k'2um	
}

keep value1 value2 value3 value4 value5
'''

'\nuse "MSE_matching_Python\\sample_matched.dta",clear\nforeach v in  loan_id var1 var2 var3 var4 var5{\nren `v\' `v\'1m\n}\n\njoinby lender_id using "MSE_matching_Python\\sample_unmatched.dta", unmatched(none)\nren lender_id lender_id1m\n\nforeach v in  loan_id var1 var2 var3 var4 var5{\nren `v\' `v\'1um\n}\n\n\ngen lender_id1um=lender_id1m\n*drop if loan_id1m ==loan_id1um\n\ngen loan_id=loan_id1um\nmerge m:1 loan_id using "MSE_matching_Python\\sample_matched.dta"\nkeep if _==3\ndrop _\n\nforeach v in lender_id loan_id var1 var2 var3 var4 var5{\nren `v\' `v\'2m\n}\n\ngen lender_id=lender_id2m\ngen loan_id=loan_id1m\nmerge m:1 loan_id lender_id using "MSE_matching_Python\\sample_unmatched.dta"\nkeep if _==3\ndrop _\nforeach v in lender_id loan_id var1 var2 var3 var4 var5{\nren `v\' `v\'2um\n}\n\nforvalues k=1/5{\ngen value`k\'= var`k\'1m+var`k\'2m- var`k\'1um- var`k\'2um\t\n}\n\nkeep value1 value2 value3 value4 value5\n'